.container {
  height: 100vh;
  background: gray;
  padding: 50px;
}

.box-1 {
  height: 25vh;
  background: orange;
}

.box-2 {
  height: 25vh;
  background: khaki;
}

.box-3 {
  height: 50vh;
  background: cornflowerblue;
}
